<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="utf-8">
    	<TITLE>AirBnB clone</TITLE>
    	<LINK rel="stylesheet" href="../static/styles/reset.css">
    	<LINK rel="stylesheet" href="../static/styles/4-common.css">
    	<LINK rel="stylesheet" href="../static/styles/3-header.css">
    	<LINK rel="stylesheet" href="../static/styles/3-footer.css">
    	<LINK rel="stylesheet" href="../static/styles/6-filters.css">
	<LINK rel="stylesheet" href="../static/styles/100-places.css">
    	<LINK rel="icon" href="../static/images/icon.ico" type="image/x-icon">
    </HEAD>
    <BODY>
	    <HEADER></HEADER>
	    <DIV class="container">
		    <SECTION class="filters">
			    <DIV class="locations">
                            	<H3>States</H3>
                            	<H4>California, Arizona...</H4>
				<DIV class="popover">
                                            <UL>
                                            {% for state in states.values()|sort(attribute="name") %}
                                                <LI>
							<H2>{{ state.name }}</H2>
							<UL>
								{% for city in state.cities %}
								<LI class="city-name">
									{{ city.name  }}
								</LI>
								{% endfor %}
							</UL>
						</LI>
                                            {% endfor %}
                                            </UL>
                               </DIV>
			    </DIV>
			    <DIV class="amenities">
				    <H3>Amenities</H3>
                            	    <H4>Internet, Wifi...</H4>
				    <DIV class="popover">
					    <UL>
					    {% for amenity in amenities.values()|sort(attribute="name") %}
					    	<LI>{{ amenity.name }}</LI>
					    {% endfor %}
					    </UL>
				    </DIV>
                    	    </DIV>
			    <BUTTON>Search</BUTTON>
		    </SECTION>
		    <SECTION class="places">
				<H1 id="placed">Places</H1>
				{% for place in places.values()|sort(attribute="name") %}
				<ARTICLE>
					<DIV class="headline">
						<H2 class="article_title">{{ place.name }}</H2>
						<DIV class="price_by_night">${{ place.price_by_night }}</DIV>
					</DIV>
					<DIV class="information">
						<DIV class="max_guest">
							<DIV class="guest_icon"></DIV>
							<P>{{ place.max_guest }} Guest</P>
						</DIV>
						<DIV class="number_rooms">
							<DIV class="bed_icon"></DIV>
							<P>{{ place.number_rooms }} room</P>
						</DIV>
						 <DIV class="number_bathrooms">
							<DIV class="bath_icon"></DIV>
							<P>{{ place.number_bathrooms }} bathroom</P>
						 </DIV>
					</DIV>
					<DIV class="user"><b>Owner</b>: {{ place.user.first_name }} {{ place.user.last_name }}</DIV>
					<DIV class="description">{{ place.description|safe }}</DIV>
					<DIV class="amenities">
						<H2 class="article_subtitle">Amenities</H2>
						<UL>
							{% for amenity in place.amenities|sort(attribute="name") %}
							<LI>{{ amenity.name }}</LI>
							{% endfor %}
						</UL>
					</DIV>
					<DIV class="reviews">
						<H2 class="article_subtitle">{{ place.reviews.__len__() }} Reviews</H2>
						<UL>
							{% for review in place.reviews|sort(attribute="name") %}
							<Li>
								<DIV class="review_item">
									<H3>From {{ review.user.first_name }} {{ review.user.last_name }} the {{ review.created_at.__str__() }}</H3>
									<P class="review_text">{{ review.text|safe }}</P>
								</DIV>
							</LI>
							{% endfor %}
						</ul>
					</div>
				</ARTICLE>
				{% endfor %}
		</SECTION>
	    </DIV>
	    <FOOTER>
		    Holberton School
	    </FOOTER>
    </BODY>
</HTML>
